
*{margin: 0;
  padding: 0;
  box-sizing: border-box;}


body{

    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items:center ;
    height: 100vh;
    background-color: #c7cdd3;
}







.card{
width: 130px;
height: 130px;
position: relative;
transform-style: preserve-3d;
transition: transform .5s;

}


.card_back,.card_front{
    
/*terá 100% do tamanho do pai*/
  
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 4,5);
    backface-visibility: hidden;
}

.flip{ transform: rotateY(180deg);}

.card_front{
    transform: rotateY(180deg);
    background-color: #437ecc;
      
    width: 130px;
    height: 130px;
}
.card_back{
      
    background-color: #05c3ff;
    text-transform: bold;
    color: #4f637c;
     font-size: 40px;
     
     width: 130px;
    height: 130px;
}
#gameOver{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8 );
    color: white;
    font-size: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
}
#restart{
    padding: 20px;
    font-size: 20px;
    background-color: yellow;
    border:none;
    border-radius: 10px;
    margin-top: 10px;
    
}
#gameBoard{
   
    max-width: 700px;
    display: grid;
    grid-template:  1fr 1fr 1fr 1fr  /  1fr 1fr 1fr 1fr 1fr  ;
    column-gap: 15px;
    row-gap: 25px ;
    
    

}
